*.venv
.venv
venv
__pycache__
.coverage
.terraform
.DS_Store
*.csv
*.env
.env
*.vscode
.log
*.log
*.png
*.jpg
data
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
terraform.tfstate.lock.info
